[Unit]
Description=Centrify Secret Injector
After=network.target

[Service]
Type=oneshot
# injector binary will be executed by systemd so it can't see shell env variables
# source environment variables from the file instead
EnvironmentFile=/usr/local/bin/centrify-secret-injector.env
ExecStart=/usr/local/bin/centrify-secret-injector-dmc.sh

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target